{{layout "org.wso2.mb.ui.base.main"}}

{{#fillZone "content"}}
    {{headerJs "/libs/jquery_1.11.0/jquery-1.11.3.min.js"}}
    <h1>Node Details</h1>
    <br class="spacer">
    <div class="page-header">
        <p class="lead">Cluster Details</p>
    </div>
    {{includeFragment "cluster-details"}}
    <br class="spacer">
    <div class="page-header">
        <p class="lead">Store Details</p>
    </div>
    {{includeFragment "store-details"}}
    <br class="spacer">
    <div class="page-header">
        <p class="lead">Broker Details</p>
    </div>
    {{includeFragment "broker-details"}}
{{/fillZone}}